// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font_default:  'Open Sans', sans-serif;

$font-text-lg : 16px;

$font-text-sm : 14px;
